/**
	定义公共色值
 */
$borderColor_tree_form: rgb(91, 90, 78);
$background_color_main: rgb(39, 40, 34);
$background_color_form: #3B3B3B;
$text_color_default: #B1B1B1;
$borderColor_form_radio: #696969;
$borderColor_form_radio_on: #77C620;
$text_color_form_radio_on: #ffffff;
$borderColor_input_default: #696969;
$background_color_input_default: rgba(250, 255, 189, .8);
$text_color_input_default: #333;
$background_color_button_default: #77C620;
/**
	定义公共引用
 */